body {
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
  box-sizing: border-box;
}
:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #192B37, #2A2A2A);
  --light-gray: #FACFBE;
}

h1{
 font-weight: bolder;
 color: #fff;
}
.contaner{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 16px;
 flex-direction: column;
}
.box{
 width: 350px;
 height: auto;
 font-size: 16px;
 padding: 40px 40px;
 background: #1a202c;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 border-radius:20px 40px;
}
.user{
 margin-top: 5px;
}
.fas{
 position:absolute;
}
input{
 width:90%;
 margin-bottom:25px;
 padding: 0 30px 10px;
 font-size: 16px;
 border: none;
 border-bottom: 1px solid #e2e8f0;
 outline: none;
 background-color: transparent;
 color:#fff;
 transition:.3s all;
}
input:focus{
  border-bottom:1px solid #fff ;
}
.login-btn{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn{
  display: block;
  width:70%;
  padding: 15px;
  background-color: #0101E1;
  color:#fff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
  transition: .2s all;
  cursor: pointer;
}
.btn:hover{
  opacity: 1;
}